---
import Markdown from '@astrojs/markdown-component';
import DefaultLayout from '~/layouts/Default.astro'
import ProjectHeader from '~/components/work/detail/ProjectDetailHeader.astro'
import ProjectGallery from '~/components/work/detail/ProjectDetailGallery.svelte'
import ProjectTech from '~/components/work/detail/ProjectDetailTech.astro'
import PageTitle from '~/components/shared/PageTitle.astro'
import { ProjectFileMetadata, mapProject } from '~/api/projects'

import "@splidejs/splide/dist/css/themes/splide-skyblue.min.css";

export async function getStaticPaths() {
  const projectPages = await Astro.glob<ProjectFileMetadata>('../../../content/projects/*.md');

  const projects = await Promise.all(projectPages.map(async (project) => mapProject(project)));

  return projects.map((project) => {
    return {
      params: { slug: project.slug },
      props: { project }
    };
  });
}

const { project } = Astro.props;
---

<style is:global>
  .content h2 {
    @apply font-bold text-2xl mb-4;
  }

  .content h3 {
    @apply font-bold text-lg mb-4;
  }

  .content p {
    @apply mb-4;
  }

  .content img {
    @apply my-4 mx-auto;
  }

  .content ul {
    @apply list-disc ml-6 mb-4;
  }

  .content hr {
    @apply flex w-1/2 mt-12 mb-12 border-blue-300 mx-auto;
  }
</style>
<DefaultLayout title={project.name}
               description={project.description}>
  <PageTitle title={project.name} />

  <ProjectHeader project={project} />

  <div class="content leading-8 mb-8">
    {project.images.length > 0 &&
    <ProjectGallery images={project.images}
                    client:only />
    }

    <Markdown content={project.content} />
  </div>

  {project.technologies.length > 0 &&
  <ProjectTech technologies={project.technologies} />
  }
</DefaultLayout>
