---
import DefaultLayout from '~/layouts/Default.astro'
import PageTitle from '~/components/shared/PageTitle.astro'
import Post from '~/components/blog/Post.astro'
import { Pagination } from "@sarissa/pagination";
import IconWriting from '~/assets/icons/writing.svg'

export async function getStaticPaths({ paginate }) {

  const postsFiles = await Astro.glob('../**/*.md')
  const posts = postsFiles.filter(({ frontmatter }) => !!frontmatter.published)
    .map((post) => {
      return {
        title: post.frontmatter.title,
        tags: post.frontmatter.tags,
        summary: post.frontmatter.summary,
        content: post.Content,
        date: new Date(post.frontmatter.date),
        slug: post.frontmatter.slug,
        url: `/blog/${post.frontmatter.slug}`
      }
    })
    .sort((a, b) => b.date.valueOf() - a.date.valueOf());


  return paginate(posts, { pageSize: 6 });
}

const { page } = Astro.props;

---


<DefaultLayout>
  <PageTitle title="My Blog" />

  <img src={IconWriting}
       height="128px"
       width="128px"
       class="mb-8 mt-8 mx-auto"
       alt="Blog"
       title="Blog"
       aria-hidden="true" />

  <div class="mt-16">
    {page.data.map((post) => (
    <div>

      <Post post={post}></Post>

      <hr class="block w-2/3 bg-primary-300 text-center mx-auto mt-8 mb-8"
          style="height: 2px;" />
    </div>
    ))}

    {page.total > 1 &&
    <div class="mt-4">
    <Pagination currentPage={page.currentPage} totalPage={page.lastPage} url="blog/page" buttonGroup="pagination" activeButton="bg-primary-400 text-white  hover:bg-primary-400 hover:text-white current-page" outerDiv="flex items-center justify-center" button="relative flex-nowrap inline-flex items-center px-4 py-2 border text-sm font-medium" disabledButton="disabled:opacity-75" />
    </div>
    }
  </div>

</DefaultLayout>
