---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import type { Project } from '~/content/types';
import BaseCard from '@components/shared/BaseCard.astro';

interface Props {
  project: CollectionEntry<Project>;
}

const { project } = Astro.props;

const coverImage = project.data.coverImage.split('.');
const coverImageFileName = coverImage[0];
const coverImageFileExtension = coverImage[1];
---

<BaseCard
  href={`/work/${project.slug}`}
  variant="primary"
  class="overflow-hidden"
>
  <div class="flex items-center justify-center bg-white h-56 overflow-hidden">
    <Image
      src={(
        await import(
          `./../../assets/images/projects/${project.slug}/${coverImageFileName}.${coverImageFileExtension}`
        )
      ).default}
      alt={`Image of project: ${project.data.name}`}
      class="object-contain w-full h-full"
      loading="lazy"
      aria-hidden="true"
    />
  </div>

  <div class="px-6 py-4">
    <h3 class="font-bold text-xl mb-3">
      {project.data.name}
    </h3>

    <p class="opacity-90">{project.data.description}</p>
  </div>
</BaseCard>
