---
import { getCollection, type CollectionEntry } from 'astro:content';

import DefaultLayout from '~/layouts/Default.astro';
import PageTitle from '~/components/shared/PageTitle.astro';
import ProjectHeader from '~/components/work/ProjectDetailHeader.astro';
import ProjectTech from '~/components/work/ProjectDetailTech.astro';
import ProjectGallery from '~/components/work/ProjectDetailGallery.astro';

import type { Project } from '~/content/types';
import { ProjectCollection } from '~/content/types';

interface Props {
  project: CollectionEntry<Project>;
}

export async function getStaticPaths() {
  const projects = await getCollection(ProjectCollection);
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<style is:global>
  @reference '../../assets/styles/global.css';
  .project-detail-content h2 {
    @apply font-bold text-2xl mb-4;
  }

  .project-detail-content h3 {
    @apply font-bold text-lg mb-4;
  }

  .project-detail-content p {
    @apply mb-4;
  }

  .project-detail-content img {
    @apply my-4 mx-auto;
  }

  .project-detail-content ul {
    @apply list-disc ml-6 mb-4;
  }

  .project-detail-content ul li {
    @apply mb-2;
  }

  .project-detail-content hr {
    @apply flex w-1/2 mt-12 mb-12 border-blue-300 mx-auto;
  }
</style>
<DefaultLayout title={project.data.name} description={project.data.description}>
  <PageTitle title={project.data.name} />

  <ProjectHeader project={project} />

  <div class="mb-8">
    {
      project.data.images.length > 0 && (
        <ProjectGallery slug={project.slug} images={project.data.images} />
      )
    }
  </div>
  <div class="project-detail-content leading-8 mb-8">
    <Content />
  </div>

  {
    project.data.technologies.length > 0 && (
      <ProjectTech technologies={project.data.technologies} />
    )
  }
</DefaultLayout>
