---
import '@assets/styles/global.css';
import '@fontsource-variable/inter';
import { ClientRouter } from 'astro:transitions';
import LoadingIndicator from 'astro-loading-indicator/component';
import { fade } from 'astro:transitions';
import Header from '@components/shared/Header.astro';
import Footer from '@components/shared/Footer.astro';
import site from '~/content/site';

const sentryEnabled = import.meta.env.PUBLIC_SENTRY_ENABLED || false;
const sentryKey = import.meta.env.PUBLIC_SENTRY_KEY || '';

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
}

const props = Astro.props as Props;

let title = props.title || site.title;
let description = props.description || site.description;

let ogImageURL = new URL('/img/site-preview.png', Astro.site).toString();
if (props.ogImage) {
  ogImageURL = new URL(props.ogImage, Astro.site).toString();
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <!--<meta name="monetization" content={monetizationUrl} />-->
    <meta property="og:url" content={Astro.request.url} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={ogImageURL} />
    <meta name="fediverse:creator" content="@brpaz@masto.pt" />
    <meta name="twitter:image" content={ogImageURL} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:app:country" content="PT" />
    <meta
      name="twitter:title"
      property="og:title"
      itemprop="title name"
      content={title}
    />
    <meta
      name="twitter:description"
      property="og:description"
      itemprop="description"
      content={description}
    />
    <link
      rel="canonical"
      href={new URL(Astro.url.pathname, Astro.site).toString()}
    />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="me" href="https://masto.pt/@brpaz" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Bruno Paz Engineering Blog"
      href="/blog/rss.xml"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      type="text/plain"
      rel="author"
      href="https://brunopaz.dev/humans.txt"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>
    {
      sentryEnabled && (
        <script
          is:inline
          src={`https://js.sentry-cdn.com/${sentryKey}.min.js`}
          crossorigin="anonymous"
          defer
        />
      )
    }
    <ClientRouter />
    <LoadingIndicator color="#60a5fa" />
  </head>

  <body
    class="h-screen w-full flex flex-col"
    transition:animate={fade({ duration: '0.5s' })}
  >
    <main class="container">
      <Header />
      <!-- The page will render it's content here -->
      <slot />
    </main>
    <Footer />
  </body>
</html>
