---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import type { Project } from '~/content/types';
import { ProjectType } from '~/content/projects';
import BaseCard from '@components/shared/BaseCard.astro';

interface Props {
  project: CollectionEntry<Project>;
}

const { project } = Astro.props;

const coverImage = project.data.coverImage.split('.');
const variant =
  project.data.type === ProjectType.Personal ? 'default' : 'primary';
---

<BaseCard
  href={`/work/${project.slug}`}
  variant={variant}
  class="overflow-hidden"
>
  <div
    class="flex items-center justify-center w-full bg-white h-56 overflow-hidden"
  >
    <Image
      src={(
        await import(
          `./../../assets/images/projects/${project.slug}/${coverImage[0]}.${coverImage[1]}`
        )
      ).default}
      alt={`Image of project: ${project.data.name}`}
      class="object-cover w-full h-full"
      loading="eager"
      aria-hidden="true"
    />
  </div>

  <div class="px-6 py-4">
    <h3 class="font-bold text-xl mb-3">
      {project.data.name}
    </h3>

    <p class="line-clamp-3 opacity-90">
      {project.data.description}
    </p>
  </div>
</BaseCard>
