---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import type { Project } from '~/content/types';
import { ProjectType } from '~/content/projects';
interface Props {
  project: CollectionEntry<Project>;
}

const { project } = Astro.props;

const coverImage = project.data.coverImage.split('.');
---

<a
  class={`w-full h-full flex items-center project-card flex-col rounded-lg shadow-lg mb-8 p-1 mr-4 ${
    project.data.type === ProjectType.Personal
      ? 'bg-neutral-400 hover:bg-neutral-500'
      : 'bg-blue-400 hover:bg-blue-500'
  } text-white hover:text-white`}
  href={`/work/${project.slug}`}
>
  <div
    class="flex items-center justify-center rounded-t-lg w-full bg-white h-56 mb-2 overflow-hidden"
  >
    <Image
      src={(
        await import(
          `./../../assets/images/projects/${project.slug}/${coverImage[0]}.${coverImage[1]}`
        )
      ).default}
      alt={`Image of project: ${project.data.name}`}
      class="flex"
      loading="eager"
      aria-hidden="true"
    />
  </div>

  <div class="px-4 py-2">
    <div class="flex justify-between">
      <h3 class="font-bold text-xl mb-4">
        {project.data.name}
      </h3>
    </div>

    <span class="w-full text-ellipsis line-clamp-5">
      {project.data.description}
    </span>
  </div>
</a>
