---
const {project} = Astro.props;

function getProjectImagePath(path) {
    return `/img/projects/${path}`;
}

---
<div class="flex flex-col rounded-lg shadow-lg mb-8 p-1 mr-4 bg-secondary-200">
    <div class="flex items-center bg-white overflow-hidden">
    <a
        class="w-full h-full flex items-center cursor-pointer"
        target="_blank"
        rel="noopener"
        href={project.url}
    >
        <img
        src={getProjectImagePath(project.coverImage)}
        class="flex w-full"
        title={project.name}
        alt={`${project.name} - ${project.description}`}>
    </a>
    </div>
</div>
