---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import type { Project } from '~/content/types';
import { loadAsset } from '~/utils/assets';

interface Props {
  project: CollectionEntry<Project>;
}

const { project } = Astro.props;

const coverImage = await loadAsset(project.data.coverImage);
---

<div class="project-card flex flex-col rounded-lg shadow-lg mb-8 p-1 mr-4 h-full bg-blue-200">
  <div class="flex items-center bg-white h-56 mb-2 overflow-hidden">
    <a class="w-full h-full flex items-center"
       href="">
      <Image
        src={coverImage}
        alt={`Image of project: ${project.data.name}`}
        class="flex w-full"
        loading="lazy"
        aria-hidden="true">
    </a>
  </div>

  <div class="px-4 py-2">
    <div class="flex justify-between">
      <a href={`/work/${project.slug}`}>
        <h3 class="font-bold text-xl mb-4">
          {project.data.name}
        </h3>
      </a>
      <span class="text-sm">{ project.data.category }</span>
    </div>

    {project.data.description}
  </div>
</div>
